.navbar {
  bottom: 0;
  height: 100px;
  left: 0;
  position: absolute;
  width: 100%;

  ul {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
  }

  li {
    display: inline-block;
    padding: 5px;
    position: relative;
    text-shadow: 1px 1px 1px $color-text-shadow;

    &:first-child::after,
    &:last-child::after {
      background: transparent;
      content: '';
      display: block;
      height: 2px;
      margin: auto;
      margin-top: 3px;
      transition: width .5s ease, background-color .5s ease;
      width: 0;
    }

    &:nth-child(2) {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: logoPulse;
    }

    &:nth-child(2)::before {
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-name: logoGlow;
      content: '';
      display: block;
      height: 100%;
      opacity: .5;
      pointer-events: none;
      position: absolute;
      transform: translate(-7%, -10%);
      width: 100%;
    }
  }

  li:hover::after {
    background: $color-primary;
    width: 100%;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

.navbar--fixed-top {
  position: fixed;
  top: 0;
}
