@include font-face('Lora Italic', Lora-Italic);
@include font-face('Roboto Black', Roboto-Black);
@include font-face('Roboto Medium', Roboto-Medium);
@include font-face('Roboto Light', Roboto-Light);

h1,
ul {
  color: $white;
  font-family: $font-roboto-black;
}

h2 {
  color: $white;
  font-family: $font-lora-italic;
  font-style: italic;
}

p {
  color: $white;
  font-family: $font-roboto-light;
  line-height: 1.5;
}

a {
  text-decoration: none;
}
