.portfolio-background {
  height: 100vh;
}

.portfolio-content {
  height: calc(100vh - 100px);
  left: 0;
  position: absolute;
  top: 100vh;
  width: 100%;
}

.portfolio-content--fixed-top {
  position: fixed;
  top: 100px;
}

.portfolio-content--left {
  float: left;
  height: 100%;
  margin-left: 5%;
  width: 45%;

  ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    text-transform: uppercase;
  }

  li {
    h1 {
      transition: .750s;
    }
  }
}

.project-title__active {
  font-size: 1.5em;
}

.project--1__subtitle,
.project--2__subtitle,
.project--3__subtitle,
.project--4__subtitle,
.project--5__subtitle {
  margin-left: -200px;
  opacity: 0;
  transition: .750s;
}

.project--1__description,
.project--2__description,
.project--3__description,
.project--4__description,
.project--5__description {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity .75s ease-out;
}

.portfolio-content--right {
  float: right;
  height: 100%;
  margin-right: 5%;
  width: 45%;
}

.project-title--view-all {
  // font-size: 1rem;
}

.project-description {
  left: 50%;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  p {
    padding-bottom: 20px;
  }
}
